@media screen and (max-width: 1350px) {
    header.header nav.navbar ul.navbar-nav li.nav-item {
        padding: 0 7px;
    }
    header.header nav.navbar ul.navbar-nav li.nav-item a.nav-link {
        color: #fff;
        font-size: 14px;
    }
}
@media screen and (max-width: 1300px) {}
@media screen and (max-width: 1250px) {
    header.header nav.navbar ul.navbar-nav li.nav-item {
        padding: 0 0px;
    }
    .text-area h1 {
        font-size: 46px;
    }
    .text-area p {
        font-size: 16px;
    }
}
@media screen and (max-width: 1200px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: 1156px;
    }
}
@media screen and (max-width: 1150px) {
    ul.info-list li {
        padding: 7px 2px;
        font-size: 13px;
    }
}
@media screen and (max-width: 1100px) {}
@media screen and (max-width: 1024px) {
    header.header nav.navbar {
        padding: 12px 2px;
    }
    .buttons button.btn {
        padding: 7px 11px;
    }
    .buttons button.btn a {
        font-size: 14px;
    }
    section#features-2 .feature-item .feature-content p {
        font-size: 13px;
    }
    .features-2 .feature-item .feature-content h3 {
        font-size: 18px;
        margin-bottom: 6px;
    }
    .features-2 .feature-item .feature-icon i {
        font-size: 16px;
    }
    .features-2 .feature-item .feature-icon {
        width: 45px;
        height: 45px;
    }
}
@media screen and (max-width: 992px) {
    header.header nav.navbar.navbar-expand-lg .container-fluid button.btn {
        border: 1px solid #faaf40 !important;
    }
    section.modal-sec .modal-dialog .modal-body .contact-form form input {
        padding: 8px 10px;
    }
    header.header nav.navbar ul.navbar-nav {
        padding: 15px 3px;
    }
    header.header nav.navbar .buttons {
        margin-bottom: 23px;
    }
    header.header nav.navbar ul.navbar-nav li.nav-item {
        border-bottom: 1px solid #faaf40;
    }
    ul.portfolio-filters.isotope-filters .slick-prev:before {
        padding-left: 40px;
    }
    ul.portfolio-filters.isotope-filters .slick-next:before {
        position: relative;
        right: 20px;
    }
    .image-wrapper .experience-badge h3 {
        font-size: 1.5rem;
    }
    .image-wrapper .experience-badge p {
        font-size: 12px;
    }
    header.header nav.navbar .navbar-toggler-icon {
        background-image: none;
        color: #fff;
        height: unset;
        width: unset;
    }
    header.header nav.navbar.navbar-expand-lg .container-fluid button {
        /* padding-bottom: 0; */
        border: 0 !important;
    }
    .navbar-toggler:focus {
        box-shadow: none !important;
    }
    .container,
    .container-md,
    .container-sm {
        max-width: 960px !important;
    }
}
@media screen and (max-width: 961px) {
    .text-area h1 {
        font-size: 41px;
    }
    .text-area p {
        font-size: 15px;
    }
}
@media screen and (max-width: 880px) {
    .contact .contact-form {
        padding: 1rem;
    }
}
@media screen and (max-width: 800px) {
    .text-area h1 {
        font-size: 35px;
    }
}
@media screen and (max-width: 768px) {
    footer#footer {
        text-align: center;
    }
    .image-wrapper .small-image {
        top: 64%;
        left: 1%;
        width: 31%;
    }
    section#HowItWorks .images-how-it-works {
        margin-top: 35px;
    }
    .col-lg-4.col-md-6.footer-about a.logo.d-flex.align-items-center {
        justify-content: center;
    }
    .social-links.d-flex.mt-4 {
        justify-content: center;
    }
}
@media screen and (max-width: 575px) {
    .section-title p br {
        display: none;
    }
}
@media screen and (max-width: 480px) {
    section.portfolio.section nav div#nav-tab {
        justify-content: center;
        margin-bottom: 20px;
    }
    section.banner {
        padding: 45px 0 0;
    }
    section.banner .image-com {
        margin-top: 45px;
    }
    section#features-2 .feature-item {
        margin-bottom: 10px !important;
    }
    .images-how-it-works img.img-fluid {
        width: 100%;
    }
    .features .tab-pane h3 {
        font-size: 28px;
    }
    .features .nav-link {
        padding: 9px 14px;
    }
    .features .nav-link h4 {
        font-size: 13px;
    }
}
@media screen and (max-width: 414px) {
    section.portfolio.section nav div#nav-tab button {
        border: 0;
        padding: 6px 9px;
    }
    .footer .copyright p {
        font-size: 13px;
    }
    .text-area h1 {
        font-size: 31px;
    }
    section#HowItWorks ul.nav.nav-tabs {
        gap: 5px;
    }
}
@media screen and (max-width: 375px) {}
@media screen and (max-width: 360px) {
    section.portfolio.section nav div#nav-tab button {
        padding: 6px 8px;
        font-size: 14px;
    }
}